<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Juego de memoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAB0C6951BEC4F77003BF360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB0C6AB1BEC4F77003BF360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB0C6B61BEC4F77003BF360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
